@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

input {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #212939;
  background-clip: padding-box;
  border: 1px solid #464569;
  border-radius: 20px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: 0;
  width: 80%;
  margin: auto;
  position: relative;
  margin-bottom: 80px;
  animation: fadeInUp 0.9s;
}

input::placeholder {
  color: #fff;
}
.card {
  display: block;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
  0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
  0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(22, 22, 26,.5);
  backdrop-filter: blur(10px);
  transition: 0.5s ease;
  position: relative;
  animation: fadeInUp 0.9s;
  width: 70%;
  margin: auto;
  height: auto;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 20%;
}
.card:hover {
  box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.157),
  0 1.7px 2.6px rgba(0, 0, 0, 0.224), 0 3.5px 5.3px rgba(0, 0, 0, 0.28),
  0 7.3px 11px rgba(0, 0, 0, 0.346), 0 20px 30px rgba(0, 0, 0, 0.5);
}

.avatar {
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 50%;
}

.user-info {
  justify-items: center;
  color: #eee;
  align-content: center;
}
.user-info p {
  padding: 10%;
  align-content: center;
}
.user-info a, .username {
  color: #ccc;
  text-underline-offset: 0.2em;
}
.username {
  font-size: 30px;
  color: #ccc;
  text-decoration: none;
  margin-top: 10% ;
  margin-bottom: 10%px;
}
.username:hover ,user-info a {
  text-decoration: underline;
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  }